<div class="jumbotron">
  <h1>豆瓣图书搜索</h1>
  <p class="lead">
    <input ng-model="bookname" type="text"><br/>
    输入你想搜索的关键字：
    {{ bookname }}<br/>
    {{ books[0].id }}
  </p>
  <p>
    <button class="btn btn-lg btn-success">Splendid!<span class="glyphicon glyphicon-ok"></span></button>
  </p>
  <div class="list_item" ng-repeat="data in bookList">
    <a class="list_bookname_a" href="#/book/{{data.id}}">
      <div class="list_img overflow fl">
        <img class="list_img" ng-src="{{data.image}}"/>
      </div>
      <div class="list_content overflow fl">
        <div class="list_bookname overflow">
          {{data.origin_title}}
        </div>
        <div class="list_author overflow">
          {{data.author}} {{data.publisher}}
        </div>
        <div class="list_bookprice">
				<span class="list_price_num">
					{{data.price}}
				</span>
          <span>元</span>
        </div>
      </div>
      <div class="list_other overflow fr">
			<span>
				{{data.pages}}页
			</span>
      </div>
    </a>
  </div>
</div>
